*.obj
*.exp
*.ilk
*.ncb
*.pdb
*.idb
*.dep
*.lib
*.dll
*.exe
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.vcproj.*user
BAT000*.bat
RSP000*.rsp
TMP000*.tmp
boomerang/Debug
boomerang/win32make/Debug
boomerang/win32make/BinaryFile/Debug
boomerang/win32make/Win32BinaryFile/Debug
boomerang/output
boomerang/signatures
boomerang/*_symbols.txt